@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar{
    animation: slide 400ms ease-in-out;
}
@keyframes slide {
    from{
        right: -100%;
    }
    to{right: 0;}
    
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  
}


.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 70%;
  width: 100%;
  border-radius: 20px;
}

.mySwiper {
  height: 15%;
  box-sizing: border-box;
  padding: 10px 0;
  margin:1rem 0;

}

.mySwiper .swiper-slide {
  width: 16.67%;
  height: 100%;
  opacity: 0.6;
  border-radius: 20px;
  overflow: hidden;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  border-bottom: 3px solid red;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  